<!DOCTYPE html>
<html lang="eng">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
    <script src="jquery.ui.datepicker-es.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static' , filename= 'formulario.css')}}"/>
    <title>BusquedaTrabajo</title>
</head>
<body>
    <script src="{{url_for('static' , filename= 'formulario.js')}}"></script>
    
    <div id="svg_wrap"></div>

 <h1>Formulario</h1>
<section>
  <p>Informacion Personal</p>
  <input type="text" placeholder="Nombres" />
  <input type="text" placeholder="Apellidos" />
  <input type="text" placeholder="Fecha de Nacimiento" <div id="datepicker"></div>
  <input type="text" placeholder="Lugar de Residencia" />
  <form autocomplete="off" action="/action_page.php">
    <div class="autocomplete" style="width:300px;">
      <input id="myInput" type="text" name="myCountry" placeholder="Departamento">
    </div>
  </form>
  <input type="text" placeholder="Estado Civil" />
  <input type="text" placeholder="Ocupacion" />
</section>

<section>
  <p>Address</p>
  <input type="text" placeholder="Calle" />
  <input type="text" placeholder="Ciudad" />
  <input type="text" placeholder="Barrio" />
  <input type="text" placeholder="Nacionalidad" />
</section>

<section>
  <p>Informacion de Contacto</p>
  <input type="text" placeholder="Direccion Email" />
  <input type="text" placeholder="Telefono" />
  <input type="text" placeholder="Celular" />
</section>

<section>
  <p>Experiencia Laboral</p>
  <input type="text" placeholder="Lugar " />
  <input type="text" placeholder="Cargo" />
  <input type="text" placeholder="Fecha de Ingreso " />
  <input type="text" placeholder="Fecha de Salida " />
  <input type="text" placeholder="Actividad Realizada " />
  <input type="text" placeholder="Actividad Realizada " />
  <input type="text" placeholder="Actividad Realizada " />
  <p>Experiencia Laboral 2</p>
  <input type="text" placeholder="Lugar " />
  <input type="text" placeholder="Cargo" />
  <input type="text" placeholder="Fecha de Ingreso " />
  <input type="text" placeholder="Fecha de Salida " />
  <input type="text" placeholder="Actividad Realizada " />
  <div class="input_fields_wrap">
    <button class="add_field_button">+ Actividades</button>
    <div><input type="text" name="mytext[]"></div>
  </div>
  

</section>

<section>
  <p>Formacion Academica</p>
  <input type="text" placeholder=" Educacion Primaria " />
  <input type="text" placeholder="Fecha de Culminacion " />
  <input type="text" placeholder="Educacion Secundaria " />
  <input type="text" placeholder="Fecha de Culminacion " />
  <input type="text" placeholder="Educacion Superior " />
  <input type="text" placeholder="Fecha de Culminacion " />
 
  
</section>

  <div class="button" id="prev">&larr; Atras</div>
<div class="button" id="next">Siguiente &rarr;</div>
<div class="button" id="submit">Aceptar y enviar formulario</div>






<script>
  $(function () {
  $("#datepicker").datepicker();
  });

  
jQuery(function ($) {
  $.datepicker.regional['es'] = {
  closeText: 'Cerrar',
  prevText: '<Ant',
  nextText: 'Sig>',
  currentText: 'Hoy',
  monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',
  'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
  monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun',
  'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
  dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
  dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié;', 'Juv', 'Vie', 'Sáb'],
  dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
  weekHeader: 'Sm',
  dateFormat: 'dd/mm/yy',
  firstDay: 1,
  isRTL: false,
  showMonthAfterYear: false,
  yearSuffix: ''
  };
  $.datepicker.setDefaults($.datepicker.regional['es']);
  });


$(function () {
$.datepicker.setDefaults($.datepicker.regional["es"]);
$("#datepicker").datepicker({
firstDay: 1
});
});

</script>


<script>
  function autocomplete(inp, arr) {
    /*the autocomplete function takes two arguments,
    the text field element and an array of possible autocompleted values:*/
    var currentFocus;
    /*execute a function when someone writes in the text field:*/
    inp.addEventListener("input", function(e) {
        var a, b, i, val = this.value;
        /*close any already open lists of autocompleted values*/
        closeAllLists();
        if (!val) { return false;}
        currentFocus = -1;
        /*create a DIV element that will contain the items (values):*/
        a = document.createElement("DIV");
        a.setAttribute("id", this.id + "autocomplete-list");
        a.setAttribute("class", "autocomplete-items");
        /*append the DIV element as a child of the autocomplete container:*/
        this.parentNode.appendChild(a);
        /*for each item in the array...*/
        for (i = 0; i < arr.length; i++) {
          /*check if the item starts with the same letters as the text field value:*/
          if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
            /*create a DIV element for each matching element:*/
            b = document.createElement("DIV");
            /*make the matching letters bold:*/
            b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
            b.innerHTML += arr[i].substr(val.length);
            /*insert a input field that will hold the current array item's value:*/
            b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
            /*execute a function when someone clicks on the item value (DIV element):*/
            b.addEventListener("click", function(e) {
                /*insert the value for the autocomplete text field:*/
                inp.value = this.getElementsByTagName("input")[0].value;
                /*close the list of autocompleted values,
                (or any other open lists of autocompleted values:*/
                closeAllLists();
            });
            a.appendChild(b);
          }
        }
    });
    /*execute a function presses a key on the keyboard:*/
    inp.addEventListener("keydown", function(e) {
        var x = document.getElementById(this.id + "autocomplete-list");
        if (x) x = x.getElementsByTagName("div");
        if (e.keyCode == 40) {
          /*If the arrow DOWN key is pressed,
          increase the currentFocus variable:*/
          currentFocus++;
          /*and and make the current item more visible:*/
          addActive(x);
        } else if (e.keyCode == 38) { //up
          /*If the arrow UP key is pressed,
          decrease the currentFocus variable:*/
          currentFocus--;
          /*and and make the current item more visible:*/
          addActive(x);
        } else if (e.keyCode == 13) {
          /*If the ENTER key is pressed, prevent the form from being submitted,*/
          e.preventDefault();
          if (currentFocus > -1) {
            /*and simulate a click on the "active" item:*/
            if (x) x[currentFocus].click();
          }
        }
    });
    function addActive(x) {
      /*a function to classify an item as "active":*/
      if (!x) return false;
      /*start by removing the "active" class on all items:*/
      removeActive(x);
      if (currentFocus >= x.length) currentFocus = 0;
      if (currentFocus < 0) currentFocus = (x.length - 1);
      /*add class "autocomplete-active":*/
      x[currentFocus].classList.add("autocomplete-active");
    }
    function removeActive(x) {
      /*a function to remove the "active" class from all autocomplete items:*/
      for (var i = 0; i < x.length; i++) {
        x[i].classList.remove("autocomplete-active");
      }
    }
    function closeAllLists(elmnt) {
      /*close all autocomplete lists in the document,
      except the one passed as an argument:*/
      var x = document.getElementsByClassName("autocomplete-items");
      for (var i = 0; i < x.length; i++) {
        if (elmnt != x[i] && elmnt != inp) {
          x[i].parentNode.removeChild(x[i]);
        }
      }
    }
    /*execute a function when someone clicks in the document:*/
    document.addEventListener("click", function (e) {
        closeAllLists(e.target);
    });
  }
  
  /*An array containing all the country names in the world:*/
  // var countries = ["Alto Paraguay","Alto Paraná","Amambay","Boquerón","Caaguazú","Caazapá","Canindeyú"];
var countries = []

  fetch('https://apy-app.herokuapp.com/api/departamentos')
    .then(response => {
      return response.json()
    })
    .then(responseJson => {
      console.log(responseJson)
      countries = responseJson.data.map(country => {
        return country.name
      })
      console.log(countries)
      autocomplete(document.getElementById("myInput"), countries);
    })

    

  
  /*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
  </script>
</body>
</html>






